<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scietech</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    

   
</head>
<body>
    <header>
            <div class="heading align-items-start">
                <div class="col-6">
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="/images/company_logo.bmp" alt="Scietech" class="company-logo" />
                    </a>
                </div>

                <div class="col-6">
                    <div class="d-flex flex-row-reverse">
                        <div class="text-end">
                            <p class="email-text">enquiry@scietech.co.uk</p>
                            <p class="tel-text">01384 237 243</p>
                        </div>

                    </div>


                </div>

            </div>
        
        
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow">

                
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="hamburger-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav ">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Document-Scanning">Document Scanning</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Document-Secure-Storage">Document Secure Storage</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Document-Secure-Disposal">Document Secure Disposal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Media-Storage-Disposal">Media Storage Disposal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact-Us">Contact Us</a>
                        </li>
                    </ul>
                </div>

        </nav>
    </header>

    <div>
        <div class="invisible-block"></div>
        <main role="main" >
            @RenderBody()
            <div class="contact-us-block">
                <div class="row align-items-start">
                    <form class="col-md-7 col-sm-7">
                        <label for="name">Name</label><br>
                        <input class="contact-us-input" type="text" id="name" name="name" value=""><br>
                        <label for="email">Email</label><br>
                        <input type="text" id="email" name="email" value=""><br>
                        <label for="phone">Phone</label><br>
                        <input type="text" id="phone" name="phone" value=""><br>
                        <label for="message">Message</label><br>
                        <input type="text" id="message" name="message" value="">
                        <button class="custom-button">SEND</button>
                    </form>

                    <div class="col-md-5 col-sm-5 message-block">
                        <h1>We offer records management services in UK</h1>
                        <div>

                            <hr />
                        </div>



                        <p>Call us now on:</p>
                        <h2>01384 237 243</h2>
                        <h3>enquiry@scietech.co.uk</h3>
                    </div>
                </div>
        </main>
    </div>

    <footer>
        <div>
                <div class="contact-links">
                    <div>
                        <p>01384 237 243</p>
                        <p>enquiry@scietech.co.uk</p>
                    </div>

                    <p>Share</p>
                </div>
                <div class="addresses">
                    <p>Scietech UK Limited</p>
                    <p>G6 Anchor Business Park</p>
                    <p>Dudley</p>
                    <p>West Midlands</p>
                    <p>DY2 9AF</p>
                </div>
                <div class="web-links">
                    <p>Home</p>
                    <p>Document Scanning</p>
                    <p>Document Secure Disposal</p>
                    <p>Media Storage Disposal</p>
                    <p>Contact Us</p>
                    <p class="quality-policy-statement">Quality Policy Statement</p>
                </div>
                <div class="iso-image">
                    <img src="./images/ISO9001.webp" alt="ISO 9001 Certificate" />
                </div>
        </div>
           
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>