<!DOCTYPE html>
<html lang="en">

@{
    string title = ViewData["Title"].ToString() ?? "Home";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@title - Scietech</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    

   
</head>
<body>
    <header>
            <div>
                <div>
                    <a class="navbar-brand" asp-area="" asp-page="/Index">
                        <img src="/images/company_logo.bmp" alt="Scietech" class="company-logo" />
                    </a>
                </div>
                <span></span>
                <div>
                    <p class="email-text">enquiry@scietech.co.uk</p>
                    <p class="tel-text">01384 237 243</p>
                </div>
            </div>
    </header>
    @{
        string[] pageNames = 
        ["Home",
        "Document Scanning",
        "Document Secure Storage",
        "Document Secure Disposal",
        "Media Storage Disposal",
        "Contact Us"
    ];
        string[] pageLinks =
        ["Index",
    "Document-Scanning",
    "Document-Secure-Storage",
    "Document-Secure-Disposal",
    "Media-Storage-Disposal",
    "Contact-Us"
        ];
    }
    <nav class="desktop">
        <ul>
            @for (var i = 0; i < pageNames.Length ; i++){
                string className = "";
                if (title == pageNames[i])
                {
                    className = "active";   
                }


                <li class=@className>
                    <a   asp-area="" asp-page=@pageLinks[i]>@pageNames[i]</a>
                </li>
            }

        </ul>

    </nav>
    <nav class="mobile">
        <div id="menuToggle">
            <input type="checkbox"/>
            <span></span>
            <span></span>
            <span></span>
            <div class="contents">
                <ul>
                    @for (var i = 0; i < pageNames.Length; i++)
                    {
                        string className = "";
                        if (title == pageNames[i])
                        {
                            className = "active";
                        }


                        <li class=@className>
                            <a asp-area="" asp-page=@pageLinks[i]>@pageNames[i]</a>
                        </li>
                    }

                </ul>
            </div>
        </div>
        <span></span>
        <img src="/images/company_logo.bmp" alt="Scietech" class="company-logo" />
        <span></span>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" id="1107285447" class="svg u_1107285447" data-icon-name="fa-envelope-o">
                <path fill="navy" d="M1664 1504v-768q-32 36-69 66-268 206-426 338-51 43-83 67t-86.5 48.5-102.5 24.5h-1-1q-48 0-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0 13 9.5 22.5t22.5 9.5h1472q13 0 22.5-9.5t9.5-22.5zM1664 453v-11-13.5t-0.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13 0-22.5 9.5t-9.5 22.5q0 168 147 284 193 152 401 317 6 5 35 29.5t46 37.5 44.5 31.5 50.5 27.5 43 9h1 1q20 0 43-9t50.5-27.5 44.5-31.5 46-37.5 35-29.5q208-165 401-317 54-43 100.5-115.5t46.5-131.5zM1792 416v1088q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-1088q0-66 47-113t113-47h1472q66 0 113 47t47 113z" id="1216272067"></path>
            </svg>
        </a>
        <span></span>
    </nav>



    <div>
        <div class="invisible-block"></div>
        <main role="main" >
            @RenderBody()
            <div class="contact-us-block">
                <div class="row align-items-start">
                    <form class="col-md-7 col-sm-7">
                        <label for="name">Name</label><br>
                        <input class="contact-us-input" type="text" id="name" name="name" value=""><br>
                        <label for="email">Email</label><br>
                        <input type="text" id="email" name="email" value=""><br>
                        <label for="phone">Phone</label><br>
                        <input type="text" id="phone" name="phone" value=""><br>
                        <label for="message">Message</label><br>
                        <input type="text" id="message" name="message" value="">
                        <button class="custom-button">SEND</button>
                    </form>

                    <div class="col-md-5 col-sm-5 message-block">
                        <h1>We offer records management services in UK</h1>
                        <div>

                            <hr />
                        </div>



                        <p>Call us now on:</p>
                        <h2>01384 237 243</h2>
                        <h3>enquiry@scietech.co.uk</h3>
                    </div>
                </div>
        </main>
    </div>

    <footer>
        <div>
                <div class="contact-links">
                    <div>
                        <p>01384 237 243</p>
                        <p>enquiry@scietech.co.uk</p>
                    </div>

                    <p>Share</p>
                </div>
                <div class="addresses">
                    <p>Scietech UK Limited</p>
                    <p>G6 Anchor Business Park</p>
                    <p>Dudley</p>
                    <p>West Midlands</p>
                    <p>DY2 9AF</p>
                </div>
                <div class="web-links">
                    <p>Home</p>
                    <p>Document Scanning</p>
                    <p>Document Secure Disposal</p>
                    <p>Media Storage Disposal</p>
                    <p>Contact Us</p>
                    <p class="quality-policy-statement">Quality Policy Statement</p>
                </div>
                <div class="iso-image">
                    <img src="./images/ISO9001.webp" alt="ISO 9001 Certificate" />
                </div>
        </div>
           
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>