@import "../lib/bootstrap/dist/scss/_functions.scss";
@import "../lib/bootstrap/dist/scss/_variables.scss";
@import "../lib/bootstrap/dist/scss/bootstrap.scss";

@import "Nav.scss";

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}



html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.invisible-block {
    
    height: 140px;
}



.section-wrapper {
    padding: 60px 40px;
    padding-bottom: 0;

}

.contact-us-wrapper {
    padding: 60px 40px;
    padding-bottom: 0;
    background-color: rgba(0, 128, 0, .06)
}




.home1 {
    background-image: linear-gradient( rgba(3, 4, 94, 0.2), rgba(3, 4, 94, 0.2) ),url('../images/home_hero_image.webp');
    background-size: cover;
    padding: 140px 40px;
    min-height: 300px;
}

.home2 {
    background-image: linear-gradient( rgb(0, 0, 0,0.6), rgba(0,0,0,0.7) ),url('../images/home_image_2.png');
    background-size: cover;
    padding: 100px 40px;
    min-height: 300px;
}

.document-scanning1 {
    background-image: linear-gradient( rgba(3, 4, 94, 0.4), rgba(3, 4, 94, 0.4) ),url('../images/document_scanning_hero_image.webp');
    background-size: cover;
}

.media-secure-storage {
    background-image: linear-gradient( rgba(3, 4, 94, 0.4), rgba(3, 4, 94, 0.4) ),url('../images/media_storage_disposal_hero_image.webp');
    background-size: cover;
}


.section {
    color: white;
    text-align: center;
}

.section > div {
    max-width: 960px;
    margin:auto;
}

.section > div > div {
    max-width: 738px;
    margin: auto;
}

.section > div > h2 {
    font-family: "Playfair Display", "Playfair Display Fallback";
    color: #fff;
    font-size: 34px;
    font-weight: 400;
    font-style: normal;
}


.section > div> h1 {
    font-family: "Playfair Display", "Playfair Display Fallback";
    color: #fff;
    font-size: 60px;
    font-weight: 400;
    font-style: normal;
}

.home-section3 {
    max-width: 960px;
    margin: auto;
    
}

.home-section3 > div {
    padding: 0px 20px 50px 20px;
    position: relative
}

.home-section3 > div > div > img {
    height: 215px;
}

.home-section3 > div > div > h1 {
    margin-top:12px;
    color: green;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", "Open Sans Fallback";
}

.home-section3 > div > div > p {
    text-align: center;
    font-family: "Open Sans", "Open Sans Fallback";
    color: #464646;
    font-size: 15px;
}

.home-section3 > div > .custom-button {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 15px;
}


.custom-button {
    background-color: green;
    transition: 0.3s;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;
    white-space: nowrap;
    min-height: 50px;
    min-width: 150px;
}

.custom-button:hover{
    background-color: navy
}

.smaller-text {
    font-size:13px;
}

.svg-wrapper {
    width: 70px;
    height: 70px; 
    background-color: rgba(255, 255, 255, .2) ;
    -moz-border-radius: 50% ;
    border-color: #fff ;
    border-width: 4px;
    -webkit-border-radius: 50%;
    border-style: double;
    
}

.svg-wrapper > svg {
    width: 75% ;
    color: #fff ;
    fill: #fff;
    margin: 7px;

}
    

.grey-bg {
    background-color: rgba(198, 198, 198, 0.5)
}





.summary-block {
    font-style: normal;
    font-family: "Open Sans", "Open Sans Fallback";
    color: #464646;
    max-width:960px;
    margin: auto;
}

.summary-block > div > h1 {
    font-family: "Playfair Display", "Playfair Display Fallback";
    color: navy;
    font-size: 36px;
    font-weight: 400;
}

.summary-block > div > hr {
    width: 50%;
    height: 1px;
    background-color: green;

}

.contact-us-block{
    max-width :960px;
    margin:auto;
}


.contact-us-message-block {
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 30px 30px 25px;
    font-family: "Open Sans", "Open Sans Fallback";
    height: 100%

}

.contact-us-message-block > h1 {
    font-family: "Playfair Display", "Playfair Display Fallback";
    font-size: 32px;
}
.contact-us-message-block > div{
    position:relative;
    height: 20px;

}



.contact-us-message-block > div > hr {
    border-top: 2px solid #fff;
    position: absolute;
    width: 84px;
    bottom: 5px;
   
}

.contact-us-message-block > p {
    font-size: 18px;
}

.contact-us-message-block > h2 {
    text-decoration: underline;
    font-weight:700;
    font-size: 36px;
}

.contact-us-message-block > h3 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 26px;
}


input {
    border-style: solid;
    border-color: #d0d1d3;
    height: 40px;
    width:100%;
    margin-bottom: 20px
}

.contact-us-form{
    padding-right: 40px;
}