@import "../lib/bootstrap/dist/scss/_functions.scss";
@import "../lib/bootstrap/dist/scss/_variables.scss";
@import "../lib/bootstrap/dist/scss/bootstrap.scss";

@import "components/contact-us-block.scss";
@import "components/hero.scss";
@import "components/info-block.scss";
@import "components/nav.scss";
@import "components/section.scss";
@import "components/footer.scss";
@import "components/summary-block.scss";


html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}




.invisible-block {
    
    height: 140px;
}



.home-section3 {
    max-width: 960px;
    margin: auto;
    
}

.home-section3 > div {
    padding: 0px 20px 50px 20px;
    position: relative
}

.home-section3 > div > div > img {
    height: 215px;
}

.home-section3 > div > div > h1 {
    margin-top:12px;
    color: green;
    font-size: 18px;
    font-weight: 700;
    font-family: "Open Sans", "Open Sans Fallback";
}

.home-section3 > div > div > p {
    text-align: center;
    font-family: "Open Sans", "Open Sans Fallback";
    color: #464646;
    font-size: 15px;
}

.home-section3 > div > .custom-button {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 15px;
}


.custom-button {
    background-color: green;
    transition: 0.3s;
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 2px;
    color: white;
    padding: 10px 30px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 11px 0px;
    white-space: nowrap;
    min-height: 50px;
    min-width: 150px;
}

.custom-button:hover{
    background-color: navy
}

.smaller-text {
    font-size:13px;
}

.svg-wrapper {
    width: 70px;
    height: 70px; 
    background-color: rgba(255, 255, 255, .2) ;
    -moz-border-radius: 50% ;
    border-color: #fff ;
    border-width: 4px;
    -webkit-border-radius: 50%;
    border-style: double;
    
}

.svg-wrapper > svg {
    width: 75% ;
    color: #fff ;
    fill: #fff;
    margin: 7px;

}
    

.grey-bg {
    background-color: rgba(198, 198, 198, 0.5)
}










