@import url("../../Pages/Styles/wwwroot/lib/bootstrap/dist/css/bootstrap.css");
.summary-block {
  font-style: normal;
  font-family: "Open Sans", "Open Sans Fallback";
  color: #464646;
}

.summary-block > div > h1 {
  font-family: "Playfair Display", "Playfair Display Fallback";
  color: navy;
  font-size: 36px;
  font-weight: 400;
}

.summary-block > div > hr {
  width: 50%;
  height: 1px;
  background-color: green;
}
