@page
@{
    ViewData["Title"] = "Contact Us";
}

<div class="section contact-us-hero">
    <div>
        <h1>Record storage and retrieval in England</h1>
        <p>
            Scietech UK Limited offers secure document storage, secure document disposal and more. Get in touch with us now.
        </p>
        <p>
            We serve customers in England.
        </p>

    </div>
</div>

<div class="contact-details">
    <div>
        <div>
            <h1>Our contact details</h1>
            <div class="dash"><hr /></div>
            <p>Address</p>
            <h2>Scietech UK Limited</h2>
            <div class="address">
                
                <h3>London</h3>
                <p>2nd Floor 107 Charterhouse Street</p>
                <p>Clerknwell</p>
                <p>London</p>
                <p>EC1M 6HW</p>
            </div>

            <div class="address">
            <h3>Birmingham</h3>
            <p>G6 Anchor Business Park</p>
            <p>New Road</p>
            <p>Dudley</p>
            <p>West Midlands</p>
            <p>DY2 9AF</p>
            </div>

            <p>Email: <a href="mailto:enquiry@scietech.co.uk">enquiry@scietech.co.uk</a></p>
            <p>Telephone: <a href="tel:01384 237 243">01384 237 243</a></p>
        </div>

        <div>
            <h1>Business Hours</h1>
            <div class="opening-hours">
                <p>Mon - Fri</p>
                <span></span>
                <p>9:00 am - 5:00 pm</p>
                <p>Sat - Sun</p>
                <span></span>
                <p>Closed</p>
            </div>
            <h4>
                SCIETECH UK LIMITED, registered as a limited company in England and Wales under company number: 11790048. Registered Company Address: 2nd Floor 107 Charterhouse Street, Clerkenwell, London, England, EC1M 6HW
            </h4>

        </div>
        
    </div>
</div>