@page


@{
    ViewData["Title"] = "Document Secure Disposal";
}

<div class="document-disposal-hero section">
    <div>
        <h1 class="display-4">Document Scanning Services</h1>
       
        <p>
            At Scietech UK Ltd, we offer document scanning solutions. Our company are facilitated with the most modern scan/image facilities, we have the capability to scan mass of document (for example invoice document, contract, certificate or technical menu) into a CD-R. Contact us now for a free, no-obligation quote. Take advantage of our services in UK
        </p>
        <p>Document Collection Nationwide</p>
        <button type="button" class="custom-button">Get in touch with us</button>

    </div>
</div>
<div class="summary-block-3-col">
    <div>
        <img src="/images/document_secure_disposal_intro_image.webp" alt="Image of a shredding machine and the shredded material" />
        <div class="summary-description">
            <h1>Document Secure Disposal</h1>
            <div>
                <hr />
            </div>
            
            <p>
                If you are looking safe and document secure disposal solutions, we are here to help. At Scietech UK Limited, we employ reliable, secure and environmentally safe measures to dispose of documents.
            </p>
            <p>
                We can help you get rid of unnecessary documents and clear space in your office. This method also helps reduce the risk of data breaches. We provide a certificate of document disposal after completing the process.
            </p>
        </div>
        <img src="/images/disposal_icon.webp" alt="Disposal Badge" />
    </div>

</div>



<div class="grey-bg py-5">
    <div class="container">
        <div class="row align-items-start my-5 mx-3">
            <div class="col-md-6 col-sm-6 info-block">
                <h1>Confidential data destruction</h1>
                <p>Our team can collect and dispose documents containing confidential data and other important business records and contracts. All document are collected at a time convenient for you and disposed off safely.</p>
            </div>
            <div class="col-6 info-block">
                <h1>Here's what we can offer: </h1>
                <ul>
                    <li>Document storage and management</li>
                    <li>Document scanning services</li>
                    <li>Document disposal services</li>
                    <li>Document digitisation</li>
                </ul>
            </div>
        </div>
        <div class="col-12 info-block my-3">
            <h1>Confidential document destruction is a must!</h1>
            <h2>Security</h2>
            <p>
                It is essential that your documents are destroyed following strict policies and high security standards. Document can be collected and disposed of using the latest document disposal equipment.
            </p>
            <h2>Reliable</h2>
            <p>
                Document is disposed with a reliable and fast document disposal methods.
            </p>
            <h2>Low cost</h2>
            <p>
                Document destruction and document disposal takes time. Don’t waste any more time with small personal document shredders. We can do it for you more cost effective and low cost
            </p>
            <h2>Professional</h2>
            <p>
                With more than 15 years of experience, we have the expertise, technology, policies and processes you need to ensure disposal of your confidential information, in complete compliance with privacy regulations.
            </p>
            <h2>Certificate</h2>
            <p>
                Document destruction assurance certificate can be issued upon request.
            </p>
            <h2>Easy and convenience</h2>
            <p>
                Standard boxes or lockable security bins can be provided. Simply fill it with all sensitive documents then have it picked up and we will take care of document destruction for you. No more paper shredding machines, no more mess in your office. Document destruction is easy
            </p>
            <h2>Collection</h2>
            <p>
                Scietech offer one time, monthly and quarterly pickups service. We provide shredding bags with security ties and our bins are lockable.
            </p>
            <b>Waste Carrier Registration No. CBDU328530</b>
            <img src="/images/certificate_of_disposal_sample.webp" alt="Certificate of Disposal Sample" />
        </div>
    </div>
</div>

