@page
@model CICD.Pages.Document_Secure_StorageModel
@{
    ViewData["Title"] = "Document Secure Storage";
}
<div class="document-scanning1 section">
    <h1 class="display-4">Document Secure Storage</h1>
    <p>
        Scietech UK Limited provides document secure storage services. We are a company of professional document storage being facilitated with the most modern facilities. Our service provides a reliable and affordable document storage, freeing up office space to create a more pleasant working environment.
    </p>
    <p>Contact us now for more details.</p>
    <p>Document Collection Nationwide</p>
    <button type="button" class="btn btn-success">Call us now</button>

</div>

<div class="container">
    <div class="row align-items-start my-5 mx-3">
        <img class="col-md-6 col-sm-6" src="~/images/document_secure_storage_intro_image.webp" />
        <div class="col-md-6 col-sm-6">
            <h1 class="display-6">Records management solutions</h1>
            <p>At Scietech UK Limited, we understand that storing archives and other important records in your office can take up space. You can rely on us to offer document storage solutions and reliable security. Our team of professional and experienced staff can help you store and manage all your records and documents. We can collect documents from your office and deliver them back when required.</p>
            <a>Contact us now. </a>
        </div>
    </div>
</div>

<div class="grey-bg py-5">
    <div class="container">
        <div class="row align-items-start my-5 mx-3">
            <div class="col-md-6 col-sm-6 info-block">
                <h1>Secure data management</h1>
                <p>We only use the latest record management hardware and software to store your documents. Our staff also use state-of-the-art security systems to ensure that your documents are safe at all times. We serve customers in England.</p>
            </div>
            <div class="col-md-6 col-sm-6 info-block">
                <h1>Document destruction services</h1>
                <p>Once we receive confirmation from you that the boxes, files and documents can be destroyed, we pick the relevant files from our document storage facility, prepare them from destruction and then securely shred them to level 4 security. The process is then completed and finalised by us issuing you with a destruction certificate to complete any audit trail relevant for your file.</p>
            </div>
        </div>
        <div class="row align-items-start my-5 mx-3">
            <div class="col-md-6 col-sm-6 info-block">
                <h1>Professional</h1>
                <p>This is part of a professional record management solution. Our state-of-the-art document secure storage facilities utilize the very latest record management hardware and software along with the very best security systems ensuring that your documents are professionally and efficiently managed in a safe and secure manner.</p>
            </div>
            <div class="col-md-6 col-sm-6 info-block">
                <h1>Fast and convenient with document scanning</h1>
                <p>Improve access time to find your records once they have been professionally scanned and indexed by our document scanning service. Having digital images on-line, helps reduce time to respond to questions (eliminate telephone tag by answering questions while the customer is on the phone). Your overall customer service should improve.</p>
            </div>
        </div>
    </div>
</div>


