@page
@model CICD.Pages.Document_ScanningModel
@{
    ViewData["Title"] = "Document Scanning";
}
<div class="document-scanning-hero section">
    <div>
        <h1>Document Scanning Services</h1>
        <div>
            <p>
                At Scietech UK Ltd, we offer document scanning solutions. Our company are facilitated with the most modern scan/image facilities, we have the capability to scan mass of document (for example invoice document, contract, certificate or technical menu) into a CD-R. Contact us now for a free, no-obligation quote. Take advantage of our services in UK
            </p>
            <p>Document Collection Nationwide</p>
            <button type="button" class="custom-button">Get in touch with us</button>

        </div>
    </div>
</div>

<div class="section-wrapper">
    <div class="row align-items-start summary-block">
        <img class="col-md-6 col-sm-6" src="~/images/document_scanning_intro_image.webp" />
        <div class="col-md-6 col-sm-6">
            <h1>Document Scanning</h1>
            <p>Document scanning is an integral part of document management. We specialise in document scanning solutions. Our company is well-equipped with modern scan and image facilities. We can scan documents such as invoice documents, contracts, certificates, technical menus, A0 drawings, maps and large scale posters into a CD-R or DVD. All your documents can be scanned into PDF, TIFF or JPG format in colour or black/white. </p>
            <p>We are committed to safeguarding all your documents throughout the conversion process. </p>
        </div>
    </div>
</div>

<div class="grey-bg py-5">
    <div class="container">
        <div class=" row align-items-start ">
            <div class="col-6 info-block">
                <h1>Reducing occupancy costs</h1>
                <p>Our document scanning solutions will help you reduce the space required to maintain your records. It can also help you enhance the safety of your records by restricting the accessibility. Call us now, we also offer document secure disposal services.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Multiple accessibility </h1>
                <p>Our digital scanning will enable multiple people to access documents at the same time. For more information, call us now. We also offer collection and delivery services, we can collect all necessary documents, scan and return them back or shred, depending on your specific requirements.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Image formats</h1>
                <p>Document can be scanned into PDF, TIFF or JPG format in colour or black/white.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Sorting and searching</h1>
                <p>Software tool can be provided for easily sorting and searching.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Why outsource your document scanning?</h1>
                <p>Is it time you made document scanning an integral part of your document management solutions? What better way to limit the access to confidential documents than to remove the paper files and replace them with electronic files? Just like record storage and document destruction, this is now part of a professional record management solution.</p>
            </div>

            <div class="col-6 info-block">
                <h1>You save time and money accessing files</h1>
                <p>Improve access time to find your records once they have been professionally scanned and indexed by our document scanning service. Having digital images on-line, helps reduce time to respond to questions (eliminate telephone tag by answering questions while the customer is on the phone). Your overall customer service should improve.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Lost and misfiled records</h1>
                <p>Document scanning can reduce the cost associated with lost, misfiled and checked out files.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Security</h1>
                <p>Scanned documents can enhance the security of your vital records by restricting the accessibility of the private, confidential records to those who are authorized to have access to the files.</p>
            </div>

            <div class="col-6 info-block">
                <h1>Occupancy costs reduced</h1>
                <p>Two file cabinets can be reduced in size to one CD once your records are scanned by our professional document scanning solutions, thereby reducing the space required to maintain your records (office space costs are expensive).</p>
            </div>

            <div class="col-6 info-block">
                <h1>Multiple access</h1>
                <p>Once your documents are digitally scanned, you will be allowed to have more than one person have access to a file at one time.</p>
            </div>

            <div class="col-12 info-block">
                <h1>MicroSys document image management system</h1>
                <h2>Paperless office - Leveraging computer technology</h2>
                <p>
                    Expanding access to information across the enterprise and beyond -
                    The nature of work in the information and service age is changing, as are the requirements for business process automation applications. These trends are driving a major change in the way managing document image system are integrated. To complete in today’s business climate, organizations need to increase productivity and minimize expenses. You need the best help available. You need efficient document management solutions. MicroSys Document Image Management System (MDIMS) allows organizations to scan, store and retrieve business critical documents within seconds. A centralized document repository promotes efficient decision-making by providing access to necessary information 24/7.
                </p>
            </div>

            <div class="col-6 info-block">
                <h1>The cost of managing paper documents by hand is very high</h1>
                <ul>
                    <li>The number of document pages per year generated by business worldwide: 2 Trillion</li>
                    <li>Cost to fill a single four drawer file cabinet: GPD19,500</li>
                    <li>Annual cost to maintain the file cabinet: GPD1,648</li>
                    <li>Average number of hours per year spent looking for misfiled and misplaced documents: 150</li>
                </ul>
            </div>

            <div class="col-6 info-block">
                <h1>Seamless integration of various information types</h1>
                <p>MDIMS offers the following benefits:</p>
                <ul>
                    <li>Regulatory compliance</li>
                    <li>Storage space</li>
                    <li>Retrieval time and cost</li>
                    <li>Information security</li>
                    <li>Disaster recovery</li>
                    <li>Customer service response</li>
                    <li>File distribution</li>
                    <li>Scalable: stand-alone, workgroup or enterprise level</li>
                    <li>Integrate and leverage existing infrastructure</li>
                </ul>
            </div>

            <div class="col-12 info-block my-3">
                <h1>Capabilities</h1>
                <p>
                    MDIMS supports the following capabilities for remote users, partners and customers
                    Work processing - User can review and modify documents and attributes, and decisions about the work case.
                    Searching, browsing and retrieving - Users can navigate and search through MDIMS and queues to find the documents they need. Documents are automatically displayed to the browser for display.
                    Work initiation - Allows authorized users, internal or external to the organization, to initiate work in a business access including uploading documents and attribute information.
                    For more information on MDIMS document image management solution, please contact us.
                </p>
            </div>

        </div>
    </div>
</div>

<div class="container">

</div>