@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="home1 section">
    <h1 class="display-4">Record Managament Services</h1>
    <p>Scietech UK Limited offers document scanning, document storage, shredding and confidential waste disposal solutions. Get in touch with us now for more information. Take advantage of our services in United Kingdom. </p>
    <p>Document Collection Nationwide</p>
    <button type="button" class="btn btn-success">Contact us now</button>
    
</div>

<div>
    <div class="row align-items-start my-5 mx-3">
        <img class="col-md-6 col-sm-6" src="~/images/home_image_3.webp" />
        <div class="col-md-6 col-sm-6">
            <h1 class="display-6">Records Management Services</h1>
            <p>Scietech UK Limited is a reputable company with over 20 years of experience. We offer document digitisation, secure document storage and secure document disposal solutions. Our team also specialises in record management and document recycling. We pride ourselves on providing top-quality services at fantastic prices. Discuss your requirements with a member of our team now and we will provide you with a bespoke quotation.</p>
        </div>   
    </div>    
</div>


<div class="container text-center">
    <div class="row align-items-start home-section3">
        <div class="col-12 col-sm-6 col-lg-3 align-self-stretch">
            <div>
                <img src="~/images/home_image_4.png" />
                <h1 class="display-6">Document digitisation</h1>
                <p>We offer top-quality document scanning services. You can discuss your needs with us and our staff will provide you with a suitable service. Document digitisation will help save mass storage space and also enable easy document searches.</p>
            </div>
 
            <button type="button" class="btn btn-success">Contact us now</button>
            
        </div>
        <div class="col-12 col-sm-6 col-lg-3 align-self-stretch">
            <div>
                <img src="~/images/home_image_1.png" />
                <h1 class="display-6">Secure document storage</h1>
                <p>You can also rely on us to offer secure document storage. Our service will help you clear up office space and create a pleasant working environment.</p>

            </div>
            
            <button type="button" class="btn btn-success">Contact us now</button>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 align-self-stretch">
             <div>
                <img src="~/images/home_image_5.webp" />
                <h1 class="display-6">Secure document disposal</h1>
                <p>
                    Scietech UK Limited provides reliable secure document disposal services. All our services are safe, affordable and hassle-free.
                </p>
             </div>

            
            <button type="button" class="btn btn-success">Contact us now</button>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 align-self-stretch">
            <div>
                <img src="~/images/home_image_6.webp" />
                <h1 class="display-6">Secure media storage disposal</h1>
                <p>We offer hard drive destruction services that ensure your data is completely destroyed and 100% irretrievable.  Our solid-state drive (SSD) and hard disk drive (HDD) destruction services are undertaken fully in line with all GDPR legislation and industry certifications. </p>


            </div>
            
             <button type="button" class="btn btn-success">Contact us now</button>
        </div>
    </div>
</div>


<div class="home2 section">
    <h1 class="display-4">Document storage and disposal solutions</h1>
    <p>Our team of experts offer confidential document storage and destruction solutions. Our services can help your company securely destroy confidential information.We only employ reliable, secure and environmentally safe measures. We also issue a certificate of document disposal. Speak to a member of our team now for more information. </p>
</div>