@page

@{
    ViewData["Title"] = "Media Storage Disposal";
}
<div class="section media-secure-storage">
    <h1 class="display-4">Media Storage Disposal</h1>
    <p>
        Are you looking for secure media storage disposal services? Contact Scietech UK Limited now.
    </p>
    <button type="button" class="btn btn-success">Contact Us</button>

</div>


<div class="container">
    <div class="row align-items-start my-5 mx-3 summary-block">
        <img class="col-md-6 col-sm-6" src="~/images/media_storage_disposal_intro_image.webp" />
        
        <div class="col-md-6 col-sm-6">
            <h1>Media storage disposal</h1>

            <hr />
            <p>Scietech UK Limited offers media storage disposal services. You can rely on us to collect hard disks, backup tapes, CDs, computer, notebook and mobile phone from your office at a time convenient for you and either store it on your behalf or dispose of it securely. </p>
            <p>We have over 25 years of experience in this line of business, so you can rest assured that you are getting services that are second to none. We also issue a certificate of media storage disposal after disposing the media files.  </p>
        </div>
    </div>
</div>


<div class="grey-bg py-5">
    <div class="container">
        <div class=" row align-items-start ">
            <div class="col-6 info-block">
                <h1>Environmentally friendly services</h1>
                <p>All media storage is disposed in an environmentally responsible manner. Contact us now - we also offer document security storage, document scanning and document security disposal solutions.
            </p>
            </div>

            <div class="col-6 info-block">
                <h1>Our team can help you dispose of:</h1>
                <ul>
                    <li>CDs</li>
                    <li>CD-ROMs</li>
                    <li>Floppy disks</li>
                    <li>Backup tapes</li>
                    <li>Hard disks</li>
                </ul>
            </div>

            

        </div>
    </div>
</div>